<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}Your Music App{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Your Music App</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('songs') }}">Songs</a></li>
                <li><a href="{{ url_for('playlists') }}">Playlists</a></li>
                <li><a href="{{ url_for('artists') }}">Artists</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 HASEEBA SALEEM's Music Player</p>
    </footer>
</body>
</html>
