{% extends 'base.html' %}

{% block title %}Playlists{% endblock %}

{% block content %}
    <h2>Playlists</h2>
    <ul>
        {% for playlist in playlists %}
            <li>
                <strong>{{ playlist.name }}</strong>
                <ul>
                    {% for song in playlist.songs %}
                        <li>{{ song.name }} by {{ song.artist }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
